@keyframes show {

    from {opacity: 0;} to {opacity: 1;}
}

.modal {
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 250px;
    min-height: 100px;
    padding: 15px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    animation: show 2s;
}

.description h4{
    color: rgba(201, 192, 154, 0.63);
}

.bg {
    z-index: 9998;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.closeModal {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: relative;
    top: -20px;
    z-index: 1;
    margin: 20px auto;
    cursor: pointer;
}
.closeModal:before {
    content: '+';
    color: #337AB7;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 50px;
    line-height: 1;
    top: -5px;
    left: 6px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.closeModal:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #337AB7;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.closeModal:hover:after {
    transform: scale(1);
}
.closeModal:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: #fff;
}
